@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    width: 100vw;
    margin: 0;
    font-family: "Open Sans";
    
}

body {
    margin: 0;
   
}

.header {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: silver;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.headleft {
    display: flex;
    justify-self: left;
    flex-grow: 1;
    justify-content: flex-start;
    padding-left: 5vw;
}

.headleft h1 {
    font-weight: 900;
    font-size: 45px;
    margin: 3px;
    padding-left: 55px;
    font-kerning: auto;
}

.headright {
    
    display: flex;
    justify-self: right;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 2vw;
    
    
}

.searchbar {
    height: 40px;
    width: 45vw;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
}

.searchbar:focus {
    outline: none;
    
}

.searchsub {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: white;
    background-image: url("../resources/Magnifying-Glass.png");
    background-size: 45px 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1vw;
}

.searchsub:hover {
    background-color: lightgray;
}

.searchform {
    display: flex;
    padding-right: 2.5vw;
}

.headbutt {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}

.headbutt button {
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: white;
}

.headbutt button:hover {
    background-color: lightgray;
}

.cartbutt {
    background-image: url("../resources/Shopping-Cart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px 30px;
}

.homebutt {
    background-image: url("../resources/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.accbutt {
    background-image: url(https://cdn.iconscout.com/icon/free/png-512/account-269-866236.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.bookcontent {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.contdisp {
    width: 40vw;
    height: 400px;
    margin: 3vw;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(44, 46, 48, 0.356) 0px 8px 24px;
    
}

.contdisp h3 {
    font-size: 27px;
    margin-bottom: 27px;
}

.accmenu {
    display: none;
    flex-direction: column;
    z-index: 2;
    margin-top: 86px;
    position: absolute;
    background-color: lightgray;
    width: 130px;
    height: 160px;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 25px;
    margin-left: 170px;
    margin-top: 70px;
}

.accmenu a {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.accmenu a:hover {
    text-decoration: underline;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    width: 30%;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 84px;
}

.bookbutt {
    margin-top: -5px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.bookbutt2 {
    margin: 3px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.bookbutt:hover {
    background-color: lightgray;
}

.bookbutt2:hover {
    background-color: lightgray;
}

.bookimg {
    width: 100px; 
    height: 160px; 
}

.bookrevolve {
    display: flex; 
    overflow: auto;
}

.hideable {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    border-radius: 5px;
    position: absolute;
    justify-content: space-around;
    
    text-align: center;
}

.hideable p {
    margin: auto;
    line-height: 8px;
}

.hidpic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.hidpic p {
    margin: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 84px;
}

.hidfo {
    display: flex;
    flex-direction: column;
}

.hidfo p {
    margin: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 84px;
}

#title {
    padding-top: 10px;
    text-align: center;
    align-self: center;
}

#create {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#c {
    width: 50%;
    border-radius: 15px;
    display: inline-block;
    background-color: lightgray;
    margin: auto;
    padding: 10px;
    text-align: left;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#c label {
    white-space: nowrap;
    line-height: 28px;
}

#c input {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 15px;
    border: none;
    
}

#c input:focus {
    outline: none;
}

#signsubmit {
    width: 100%;
    margin-top: 10px;
    margin: 3px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

#signsubmit:hover {
    background-color: silver;
}

#logger {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logged {
    background-color: lightgray;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


#logged label {
    white-space: nowrap;
    line-height: 28px;
}

#logged input {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 15px;
    border: none;
   
}

#logged input:focus {
    outline: none;
}

#lin {
    margin-top: 15px;
    margin-left: 5px;
}

#lin:hover {
    background-color: silver;
}

#logged button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 15px;
    border: none;
    
    margin-top: 15px;
}

#logged button:hover {
    background-color: silver;
}

#prof {
    display: flex;
    flex-direction: column;
    background-color: silver;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    width: 50%;
}

#prof a {
    width: 50%;
    margin: auto;
}

#prof button {
    width: 100%;
}

#yourprof {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.fields {
    background-color: lightgray;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fields label {
    white-space: nowrap;
    line-height: 28px;
    margin-right: 20px;
}

.fields input {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 15px;
    border: none;
   
}

.fields input:focus {
    outline: none;
}

#forgotsub:hover {
    background-color: silver;
}

.fields button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 15px;
    border: none;
    
    margin-top: 15px;
}

.fields button:hover {
    background-color: silver;
}

.fieldhold {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.past {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pastbook {
    display: flex;
    margin: 25px;
    padding: 5px;
    box-shadow: black 0px 8px 24px;
    background-color: silver;
    align-items: center;
    border-radius: 15px;
    position: relative;
    margin-top: 50px;
}

.pastbook button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 15px;
    border: none;
    
}

.pastbook button:hover {
    background-color: lightgray;
}

.pastbook img {
    width: 100px; 
    height: 160px; 
    padding: 5px;
    border-radius: 10px;
}

.pastbook button {
    height: 30px;
}

.innerinfo {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 20px;
    width: 200px;
}

.scrollable {
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: space-between;
    margin: auto;
    margin-top: 0px;
    box-shadow: black 0px 8px 24px;
    border-radius: 50px;
}

#prof button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 15px;
    border: none;
    margin: 5px;
}

#prof button:hover {
    background-color: lightgray;
}

.ressub:hover {
    background-color: silver;
}



#personalinfo {
    display: flex;
    flex-direction: column;
    background-color: silver;
    margin: auto;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 55px;
}

#personalinfo h2 {
    margin: auto;
}

#personalinfo h4 {
    margin: auto;
}

.infochanger {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#personaladdress {
    display: flex;
    flex-direction: column;
    background-color: silver;
    margin: auto;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 55px;
}

.activecon {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.subscription {
    display: flex;
    
}

.subscription p {
    width: 80%;
    justify-content: space-evenly;
}

.subname {
    align-self: flex-start;
    text-align: left;
    
}

.subdesc {
    align-self: baseline;
}

.subcost {
    
    text-align: right;
}

.subbutt {
    align-content: center;
    margin: auto;
    margin-left: 50px;
}

.hideableb {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    border-radius: 5px;
    position: absolute;
    justify-content: space-around;
    background-color: gray;
    text-align: center;
}

.hideableb p {
    margin: auto;
    line-height: 20px;
}

.searchresults {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}